-- ============================================
-- SMARTSTOCK PRO DATABASE DUMP
-- Generated: 2026-05-27T16:14:03.779Z
-- ============================================

-- Table: audit_logs
DROP TABLE IF EXISTS "audit_logs";
CREATE TABLE audit_logs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    username TEXT,
    action TEXT NOT NULL,
    entity TEXT,
    entity_id INTEGER,
    details TEXT,
    ip_address TEXT,
    user_agent TEXT,
    severity TEXT DEFAULT 'info' CHECK(severity IN ('critical','warning','info')),
    created_at TEXT DEFAULT (datetime('now')),
    FOREIGN KEY (user_id) REFERENCES users(id)
  );

-- Table: categories
DROP TABLE IF EXISTS "categories";
CREATE TABLE categories (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    code TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    is_active INTEGER DEFAULT 1,
    created_at TEXT DEFAULT (datetime('now')),
    updated_at TEXT DEFAULT (datetime('now'))
  );

-- Table: csrf_tokens
DROP TABLE IF EXISTS "csrf_tokens";
CREATE TABLE csrf_tokens (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    session_id TEXT NOT NULL,
    token TEXT NOT NULL,
    created_at TEXT DEFAULT (datetime('now'))
  );

-- Table: job_queue
DROP TABLE IF EXISTS "job_queue";
CREATE TABLE job_queue (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    type TEXT NOT NULL,
    payload TEXT,
    status TEXT DEFAULT 'pending' CHECK(status IN ('pending','processing','completed','failed')),
    result TEXT,
    error TEXT,
    created_at TEXT DEFAULT (datetime('now')),
    updated_at TEXT DEFAULT (datetime('now'))
  );

-- Table: notifications
DROP TABLE IF EXISTS "notifications";
CREATE TABLE notifications (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    type TEXT NOT NULL,
    title TEXT NOT NULL,
    message TEXT NOT NULL,
    severity TEXT DEFAULT 'info' CHECK(severity IN ('critical','warning','info')),
    is_read INTEGER DEFAULT 0,
    target_role TEXT,
    related_id INTEGER,
    created_at TEXT DEFAULT (datetime('now'))
  );

-- Table: products
DROP TABLE IF EXISTS "products";
CREATE TABLE products (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    code TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    category_id INTEGER,
    supplier_id INTEGER,
    unit TEXT DEFAULT 'pcs',
    price REAL DEFAULT 0,
    min_stock INTEGER DEFAULT 10,
    image_url TEXT,
    is_active INTEGER DEFAULT 1,
    created_at TEXT DEFAULT (datetime('now')),
    updated_at TEXT DEFAULT (datetime('now')),
    FOREIGN KEY (category_id) REFERENCES categories(id),
    FOREIGN KEY (supplier_id) REFERENCES suppliers(id)
  );

-- Table: stock
DROP TABLE IF EXISTS "stock";
CREATE TABLE stock (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    product_id INTEGER NOT NULL,
    warehouse_id INTEGER NOT NULL,
    quantity INTEGER DEFAULT 0,
    updated_at TEXT DEFAULT (datetime('now')),
    FOREIGN KEY (product_id) REFERENCES products(id),
    FOREIGN KEY (warehouse_id) REFERENCES warehouses(id),
    UNIQUE(product_id, warehouse_id)
  );

-- Table: suppliers
DROP TABLE IF EXISTS "suppliers";
CREATE TABLE suppliers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    code TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    contact_person TEXT,
    email TEXT,
    phone TEXT,
    address TEXT,
    city TEXT,
    is_active INTEGER DEFAULT 1,
    created_at TEXT DEFAULT (datetime('now')),
    updated_at TEXT DEFAULT (datetime('now'))
  );

-- Table: transactions
DROP TABLE IF EXISTS "transactions";
CREATE TABLE transactions (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    code TEXT UNIQUE NOT NULL,
    type TEXT NOT NULL CHECK(type IN ('in','out')),
    product_id INTEGER NOT NULL,
    warehouse_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL,
    price_per_unit REAL DEFAULT 0,
    total_price REAL DEFAULT 0,
    note TEXT,
    reference_no TEXT,
    user_id INTEGER,
    created_at TEXT DEFAULT (datetime('now')),
    FOREIGN KEY (product_id) REFERENCES products(id),
    FOREIGN KEY (warehouse_id) REFERENCES warehouses(id),
    FOREIGN KEY (user_id) REFERENCES users(id)
  );

-- Table: transfers
DROP TABLE IF EXISTS "transfers";
CREATE TABLE transfers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    code TEXT UNIQUE NOT NULL,
    product_id INTEGER NOT NULL,
    from_warehouse_id INTEGER NOT NULL,
    to_warehouse_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL,
    status TEXT DEFAULT 'pending' CHECK(status IN ('pending','processing','completed','cancelled')),
    note TEXT,
    requested_by INTEGER,
    approved_by INTEGER,
    completed_at TEXT,
    created_at TEXT DEFAULT (datetime('now')),
    updated_at TEXT DEFAULT (datetime('now')),
    FOREIGN KEY (product_id) REFERENCES products(id),
    FOREIGN KEY (from_warehouse_id) REFERENCES warehouses(id),
    FOREIGN KEY (to_warehouse_id) REFERENCES warehouses(id),
    FOREIGN KEY (requested_by) REFERENCES users(id),
    FOREIGN KEY (approved_by) REFERENCES users(id)
  );

-- Table: users
DROP TABLE IF EXISTS "users";
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT UNIQUE NOT NULL,
    password TEXT NOT NULL,
    full_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    role TEXT NOT NULL CHECK(role IN ('admin','manager','staff','viewer')),
    warehouse_id INTEGER,
    is_active INTEGER DEFAULT 1,
    last_login TEXT,
    created_at TEXT DEFAULT (datetime('now')),
    updated_at TEXT DEFAULT (datetime('now')),
    FOREIGN KEY (warehouse_id) REFERENCES warehouses(id)
  );

-- Table: warehouses
DROP TABLE IF EXISTS "warehouses";
CREATE TABLE warehouses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    code TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    city TEXT NOT NULL,
    address TEXT,
    latitude REAL,
    longitude REAL,
    manager_name TEXT,
    phone TEXT,
    capacity INTEGER DEFAULT 1000,
    is_active INTEGER DEFAULT 1,
    created_at TEXT DEFAULT (datetime('now')),
    updated_at TEXT DEFAULT (datetime('now'))
  );

INSERT INTO "audit_logs" ("id", "user_id", "username", "action", "entity", "entity_id", "details", "ip_address", "user_agent", "severity", "created_at") VALUES (1, 1, 'admin', 'LOGIN', 'users', NULL, 'User admin berhasil login', NULL, NULL, 'info', '2026-05-27 08:00:00');
INSERT INTO "audit_logs" ("id", "user_id", "username", "action", "entity", "entity_id", "details", "ip_address", "user_agent", "severity", "created_at") VALUES (2, 2, 'manager1', 'CREATE', 'transactions', NULL, 'Transaksi barang masuk TRX-00001', NULL, NULL, 'info', '2026-05-27 08:30:00');
INSERT INTO "audit_logs" ("id", "user_id", "username", "action", "entity", "entity_id", "details", "ip_address", "user_agent", "severity", "created_at") VALUES (3, 1, 'admin', 'CREATE', 'products', NULL, 'Produk baru PRD-016 ditambahkan', NULL, NULL, 'info', '2026-05-27 09:00:00');

INSERT INTO "categories" ("id", "code", "name", "description", "is_active", "created_at", "updated_at") VALUES (1, 'CAT-001', 'Smartphone', 'Perangkat telepon pintar dan aksesoris', 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');
INSERT INTO "categories" ("id", "code", "name", "description", "is_active", "created_at", "updated_at") VALUES (2, 'CAT-002', 'Laptop & Komputer', 'Laptop, PC, dan komponen komputer', 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');
INSERT INTO "categories" ("id", "code", "name", "description", "is_active", "created_at", "updated_at") VALUES (3, 'CAT-003', 'TV & Audio', 'Televisi, speaker, dan perangkat audio', 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');

INSERT INTO "notifications" ("id", "type", "title", "message", "severity", "is_read", "target_role", "related_id", "created_at") VALUES (1, 'stock_alert', 'Stok Kritis: Sony Alpha A7 IV', 'Stok Sony Alpha A7 IV di Gudang Makassar hanya tersisa 1 unit (min: 5)', 'critical', 0, 'admin', NULL, '2026-05-27 12:00:00');
INSERT INTO "notifications" ("id", "type", "title", "message", "severity", "is_read", "target_role", "related_id", "created_at") VALUES (2, 'stock_alert', 'Stok Rendah: ASUS ROG Laptop', 'Stok ASUS ROG Laptop di Gudang Makassar hanya tersisa 5 unit (min: 8)', 'warning', 0, 'admin', NULL, '2026-05-27 11:00:00');
INSERT INTO "notifications" ("id", "type", "title", "message", "severity", "is_read", "target_role", "related_id", "created_at") VALUES (3, 'transfer', 'Transfer Selesai', 'Transfer 50 unit Samsung Galaxy S25 dari Jakarta ke Surabaya telah selesai', 'info', 0, 'manager', NULL, '2026-05-27 10:00:00');

INSERT INTO "products" ("id", "code", "name", "description", "category_id", "supplier_id", "unit", "price", "min_stock", "image_url", "is_active", "created_at", "updated_at") VALUES (1, 'PRD-001', 'Samsung Galaxy S25', 'Smartphone flagship Samsung terbaru', 1, 1, 'unit', 12000000, 20, NULL, 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');
INSERT INTO "products" ("id", "code", "name", "description", "category_id", "supplier_id", "unit", "price", "min_stock", "image_url", "is_active", "created_at", "updated_at") VALUES (2, 'PRD-002', 'iPhone 16 Pro', 'Smartphone Apple terbaru dengan chip A18', 1, 2, 'unit', 18000000, 15, NULL, 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');
INSERT INTO "products" ("id", "code", "name", "description", "category_id", "supplier_id", "unit", "price", "min_stock", "image_url", "is_active", "created_at", "updated_at") VALUES (3, 'PRD-003', 'Xiaomi 14T', 'Smartphone Xiaomi dengan Leica camera', 1, 3, 'unit', 8500000, 25, NULL, 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');

INSERT INTO "stock" ("id", "product_id", "warehouse_id", "quantity", "updated_at") VALUES (1, 1, 1, 150, '2026-05-27 13:27:04');
INSERT INTO "stock" ("id", "product_id", "warehouse_id", "quantity", "updated_at") VALUES (2, 2, 1, 80, '2026-05-27 13:27:04');
INSERT INTO "stock" ("id", "product_id", "warehouse_id", "quantity", "updated_at") VALUES (3, 3, 1, 200, '2026-05-27 13:27:04');

INSERT INTO "suppliers" ("id", "code", "name", "contact_person", "email", "phone", "address", "city", "is_active", "created_at", "updated_at") VALUES (1, 'SUP-001', 'Samsung Electronics Indonesia', 'Park Sung Jin', 'samsung@supplier.id', '021-1234567', 'Gedung Menara BCA, Jakarta', 'Jakarta', 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');
INSERT INTO "suppliers" ("id", "code", "name", "contact_person", "email", "phone", "address", "city", "is_active", "created_at", "updated_at") VALUES (2, 'SUP-002', 'Apple Authorized Distributor', 'Michael Tan', 'apple@supplier.id', '021-2345678', 'Sudirman Central Business District', 'Jakarta', 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');
INSERT INTO "suppliers" ("id", "code", "name", "contact_person", "email", "phone", "address", "city", "is_active", "created_at", "updated_at") VALUES (3, 'SUP-003', 'Xiaomi Indonesia', 'Wang Lei', 'xiaomi@supplier.id', '021-3456789', 'Wisma GKBI, Jakarta', 'Jakarta', 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');

INSERT INTO "transactions" ("id", "code", "type", "product_id", "warehouse_id", "quantity", "price_per_unit", "total_price", "note", "reference_no", "user_id", "created_at") VALUES (1, 'TRX-00001', 'out', 1, 1, 42, 1450506, 60921252, 'Penjualan', NULL, 1, '2026-05-04 13:27:05');
INSERT INTO "transactions" ("id", "code", "type", "product_id", "warehouse_id", "quantity", "price_per_unit", "total_price", "note", "reference_no", "user_id", "created_at") VALUES (2, 'TRX-00002', 'in', 2, 2, 45, 4768617, 214587765, 'Pembelian rutin', NULL, 1, '2026-04-29 13:27:05');
INSERT INTO "transactions" ("id", "code", "type", "product_id", "warehouse_id", "quantity", "price_per_unit", "total_price", "note", "reference_no", "user_id", "created_at") VALUES (3, 'TRX-00003', 'in', 3, 3, 39, 557321, 21735519, 'Pembelian rutin', NULL, 1, '2026-05-03 13:27:05');

INSERT INTO "users" ("id", "username", "password", "full_name", "email", "role", "warehouse_id", "is_active", "last_login", "created_at", "updated_at") VALUES (1, 'admin', '$2b$10$e/OGOksV5Wnkfwhm71oTBe/PqFXtTWFho2JXeTVh5zJA2Q/s9l1iW', 'Administrator Sistem', 'admin@smartstock.id', 'admin', NULL, 1, '2026-05-27 15:39:47', '2026-05-27 13:27:05', '2026-05-27 13:27:05');
INSERT INTO "users" ("id", "username", "password", "full_name", "email", "role", "warehouse_id", "is_active", "last_login", "created_at", "updated_at") VALUES (2, 'manager1', '$2b$10$I44q6SG3nodDXKIW4HQVIeMB0h35oi9MjFv9Wg3ZudohyJx2lqm4C', 'Budi Santoso', 'manager1@smartstock.id', 'manager', 1, 1, NULL, '2026-05-27 13:27:05', '2026-05-27 13:27:05');
INSERT INTO "users" ("id", "username", "password", "full_name", "email", "role", "warehouse_id", "is_active", "last_login", "created_at", "updated_at") VALUES (3, 'manager2', '$2b$10$hP0UEU.i9dJRzmoGaUklzOscvocqA1rJnj68KRVJ7IZxB8Td/vyRG', 'Siti Rahayu', 'manager2@smartstock.id', 'manager', 2, 1, NULL, '2026-05-27 13:27:05', '2026-05-27 13:27:05');

INSERT INTO "warehouses" ("id", "code", "name", "city", "address", "latitude", "longitude", "manager_name", "phone", "capacity", "is_active", "created_at", "updated_at") VALUES (1, 'WH-JKT', 'Gudang Jakarta', 'Jakarta', 'Jl. Raya Bekasi KM 18, Jakarta Timur', -6.2088, 106.8456, 'Budi Santoso', '021-8765432', 5000, 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');
INSERT INTO "warehouses" ("id", "code", "name", "city", "address", "latitude", "longitude", "manager_name", "phone", "capacity", "is_active", "created_at", "updated_at") VALUES (2, 'WH-SBY', 'Gudang Surabaya', 'Surabaya', 'Jl. Margomulyo No. 45, Surabaya', -7.2575, 112.7521, 'Siti Rahayu', '031-7654321', 4000, 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');
INSERT INTO "warehouses" ("id", "code", "name", "city", "address", "latitude", "longitude", "manager_name", "phone", "capacity", "is_active", "created_at", "updated_at") VALUES (3, 'WH-BDG', 'Gudang Bandung', 'Bandung', 'Jl. Soekarno Hatta No. 123, Bandung', -6.9175, 107.6191, 'Ahmad Fauzi', '022-6543210', 3000, 1, '2026-05-27 13:27:04', '2026-05-27 13:27:04');

-- ============================================
-- END OF DUMP
-- ============================================
